In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ercot_2019_wind = pd.read_csv('ERCOT_2019_Hourly_Wind_Output.csv', header=0, error_bad_lines=False)
ercot_2019_wind.head()

b'Skipping line 8766: expected 13 fields, saw 18\nSkipping line 8767: expected 13 fields, saw 18\nSkipping line 8768: expected 13 fields, saw 18\nSkipping line 8769: expected 13 fields, saw 18\nSkipping line 8770: expected 13 fields, saw 18\nSkipping line 8771: expected 13 fields, saw 18\nSkipping line 8772: expected 13 fields, saw 18\nSkipping line 8773: expected 13 fields, saw 18\nSkipping line 8774: expected 13 fields, saw 18\nSkipping line 8775: expected 13 fields, saw 18\nSkipping line 8776: expected 13 fields, saw 18\nSkipping line 8777: expected 13 fields, saw 18\nSkipping line 8778: expected 13 fields, saw 18\nSkipping line 8779: expected 13 fields, saw 18\nSkipping line 8780: expected 13 fields, saw 18\nSkipping line 8781: expected 13 fields, saw 18\nSkipping line 8782: expected 13 fields, saw 18\nSkipping line 8783: expected 13 fields, saw 18\nSkipping line 8784: expected 13 fields, saw 18\nSkipping line 8785: expected 13 fields, saw 18\nSkipping line 8786: expected 13 fields, saw 18\nSkipping line 8787: expected 13 fields, saw 18\nSkipping line 8788: expected 13 fields, saw 18\nSkipping line 8789: expected 13 fields, saw 18\nSkipping line 8790: expected 13 fields, saw 18\nSkipping line 8791: expected 13 fields, saw 18\nSkipping line 8792: expected 13 fields, saw 18\nSkipping line 8793: expected 13 fields, saw 18\nSkipping line 8794: expected 13 fields, saw 18\nSkipping line 8795: expected 13 fields, saw 18\nSkipping line 8796: expected 13 fields, saw 18\nSkipping line 8797: expected 13 fields, saw 18\nSkipping line 8798: expected 13 fields, saw 18\nSkipping line 8799: expected 13 fields, saw 18\nSkipping line 8800: expected 13 fields, saw 18\nSkipping line 8801: expected 13 fields, saw 18\nSkipping line 8802: expected 13 fields, saw 18\nSkipping line 8803: expected 13 fields, saw 18\nSkipping line 8804: expected 13 fields, saw 18\nSkipping line 8805: expected 13 fields, saw 18\nSkipping line 8806: expected 13 fields, saw 18\n'

                                                                                                                                                                                      numbers: Table 1
time-date stamp     Date   ERCOT Load, MW Total Wind Output, MW Total Wind Installed, MW Wind Output, % of Load Wind Output, % of Installed 1-hr MW change 1-hr % change NaN NaN NaN               NaN
01/01/2019 00:00:00 Jan-01 36968          14128                 22607                    38.2                   62                          NaN            NaN           NaN NaN NaN               NaN
01/01/2019 01:00:00 Jan-01 37116          14237                 22607                    38.4                   63                          108.6          0.768         NaN NaN NaN               NaN
01/01/2019 02:00:00 Jan-01 37198          14013                 22607                    37.7                   62                          -224.1         -1.574        NaN NaN NaN               NaN
01/01/2019 03:00:00 Jan-01 37204          13550                 22607                    36.4                   60                          -462.9         -3.303        NaN NaN NaN               NaN

In [3]:
db = ercot_2019_wind.rename(columns={'ERCOT Load, MW': 'ercot_load_mw', 'Total Wind Output, MW': 'wind_total_output_mw', 'Total Wind Installed, MW': 'wind_installed_total', 'Wind Output, % of Load': 'wind_output_percent_of_load', 'Wind Output, % of Installed': 'wind_output_percent_installed'})

In [4]:
db.head()

                                                                                                                                                                                      numbers: Table 1
time-date stamp     Date   ERCOT Load, MW Total Wind Output, MW Total Wind Installed, MW Wind Output, % of Load Wind Output, % of Installed 1-hr MW change 1-hr % change NaN NaN NaN               NaN
01/01/2019 00:00:00 Jan-01 36968          14128                 22607                    38.2                   62                          NaN            NaN           NaN NaN NaN               NaN
01/01/2019 01:00:00 Jan-01 37116          14237                 22607                    38.4                   63                          108.6          0.768         NaN NaN NaN               NaN
01/01/2019 02:00:00 Jan-01 37198          14013                 22607                    37.7                   62                          -224.1         -1.574        NaN NaN NaN               NaN
01/01/2019 03:00:00 Jan-01 37204          13550                 22607                    36.4                   60                          -462.9         -3.303        NaN NaN NaN               NaN

In [5]:
db.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8762 entries, ('time-date stamp', 'Date', 'ERCOT Load, MW', 'Total Wind Output, MW', 'Total Wind Installed, MW', 'Wind Output, % of Load', 'Wind Output, % of Installed', '1-hr MW change', '1-hr % change', nan, nan, nan) to ('comments: Table 1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   numbers: Table 1  0 non-null      float64
dtypes: float64(1)
memory usage: 2.1+ MB

In [8]:
db['Date'].groupby().sum('ERCOT Load, MW')

KeyError: 'Date'